<?xml version="1.0" encoding="UTF-8"?> 
<module xmlns="urn:jboss:module:1.0" name="org.wildfly.quickstarts" >
	<resources>
		<artifact name="${org.wildfly.quickstarts:seperated-interceptor}"/>
	</resources>
	<dependencies>
	    <module name="java.logging"/>
        <module name="javax.annotation.api"/>
        <module name="javax.enterprise.api"/>
        <module name="javax.inject.api"/>
	</dependencies>
</module>